.bg {
  background-color: #D5D2B1;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: bolder;
}

.btn-main {
  background-color: #355d23;
  border: none;
  border-top: #355d23;
  padding: 15px;
  border-radius: 30px;
}

.btn {
  background-color: #62AB40;
  border: none;
  border-top: #62AB40;
  border-radius: 20px;
}